body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #446df6;
  --color-secondary: #262626;
  --color-tertiary: #bfc0c0;
  --color-quaternary: #fe4a49;
  --color-quinary: #a01a7d;

  --wrapper: 0 0.4rem;
}
